<app-notification [(notification)]="notificationHelp"></app-notification>
<button (click)="clickMe()"> Test click me</button>

<app-notification [(notification)]="notificationError"></app-notification>
<button (click)="clickMe()"> Test click me</button>


<app-notification [(notification)]="notificationWarn"></app-notification>
<button (click)="clickMe()"> Test click me</button>


<app-notification [(notification)]="notificationNote"></app-notification>
<button (click)="clickMe()"> Test click me</button>


<app-notification [(notification)]="notificationSuccess"></app-notification>
<button (click)="clickMe()"> Test click me</button>


