<div *ngIf="notifier && status">
  <ng-template [ngIf]="layout === 'single'">
    <app-nusa-notification 
      [(layout)]="notifier.notice.layout"
      [(notice)]="notice"
      [(type)]="notifier.notice.type"
      (close)="close()"
      >
    </app-nusa-notification>
  </ng-template>
  <ng-template [ngIf]="layout === 'multi'">
    <app-nusa-notifications
      [(layout)]="notifier.notice.layout"
      [(notices)]="notices"
      [(type)]="notifier.notice.type"
      (close)="close()"
      >
    </app-nusa-notifications>
  </ng-template>
  <ng-container *ngTemplateOutlet="customTemplate;context:{ mgs: notifier.notice.data }"></ng-container>

</div>